body {
    margin: 0;
    font-family:sans-serif;
    background-color:mintcream;
}


.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .2rem;
    color:white;
    width:60%;
    margin-inline:auto;
}
header{
    background:linear-gradient(to right, rgb(208, 86, 208), rgba(202, 58, 99, 0.823));
}
.primary-navigation{
    display:flex;
    gap: 2rem;
    list-style-type: none;
    padding:0;
}


.meny{
    display:flex;
    align-items: center;
    gap: 200px;
}

main{
    display:grid;
    grid-template-columns: 3fr 1fr;
    margin-inline:auto;
    width:60%
}

aside{
    position:sticky;
    align-self: flex-start;
    background-color:white;
    box-shadow:.0px 0px 10px rgb(0, 0, 0, 0.10);
    margin-top:1rem;
    margin-left:2rem;
    top:1rem;
}

footer{
    background-color:rgb(214, 66, 192);
    padding:2rem 2rem;
}

.logo-text{
    margin-inline: 0;
    padding-inline: 0;
}

.grid-row{
     display:grid;
     grid-template-columns:1fr 4fr;

}

.grid-row:nth-child(odd){
    background:rgba(222, 222, 222, 0.553);
}

.nav-link{
    color:rgb(253, 253, 253);
    text-decoration:none;
}

.nav-link:hover{
    color:rgb(225, 34, 34);
}
